<h1 *ngFor="let product of products">
  {{ product.name }}
</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col" *ngFor="let column of tableColumnList">{{ column }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <th scope="row">{{ product.id }}</th>
    <td>{{ product.name }}</td>
    <td>{{ product.description || 'N/A' }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.quantityInStock }}</td>
    <td>{{ product.category || 'N/A'}}</td>
  </tr>
  </tbody>
</table>
