<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col" *ngFor="let column of tableColumnList">{{ column }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <th scope="row">{{ product.id }}</th>
    <td>{{ product.name }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.category.categoryName || 'N/A' }}</td>
    <td><button (click)="productDetails(product.id)">Details</button></td>
    <td><button (click)="editProduct(product.id)">Edit</button></td>
    <td><button (click)="deleteProduct(product.id)">Delete</button></td>
  </tr>
  </tbody>
</table>
